<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sen.designmode">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".Collection.one.view.DisignModeMainActivity">

        </activity>
        <activity android:name=".Dahua.DahuaMainActivity"></activity>
    </application>

</manifest>
